# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
out/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
*.tsbuildinfo

# Python / Flask / VOSK
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
textsewakspeech/model/
textsewakspeech/vosk-model-*/

# Firebase
.firebase/

# IDEs
.vscode/
.idea/
*.swp
